---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_171NFlFsBqZq4amV27Bkc7YO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_GL2nS6KhsUkCBoHmnWD8y1MT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_171NFlFsBqZq4amV27Bkc7YO",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1446151449,
          "data": {
            "object": {
              "id": "ch_171NFkFsBqZq4amV41bQYS9B",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_171NFkFsBqZq4amVebFcBAqX",
              "captured": true,
              "created": 1446151448,
              "currency": "eur",
              "customer": "cus_7Ft1EjfovZ9ipp",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_171NFkFsBqZq4amVLnVD6RHg",
              "livemode": false,
              "metadata": {},
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_171NFkFsBqZq4amV41bQYS9B/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_171NFjFsBqZq4amVcPla2v1w",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7Ft1EjfovZ9ipp",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2015,
                "fingerprint": "e3sVIRmaBvs743cW",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": "myflix standard",
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7Ft16k7o3D65I1",
          "type": "charge.succeeded"
        }
  recorded_at: Sun, 01 Nov 2015 12:23:44 GMT
recorded_with: VCR 2.9.3
