---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=standard&source=tok_171N4dFsBqZq4amVURcE4ZMo&email=user%40mailinator.com
    headers:
      Authorization:
      - Bearer sk_test_GL2nS6KhsUkCBoHmnWD8y1MT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7Fsqvt8W3Ixtbz",
          "object": "customer",
          "account_balance": 0,
          "created": 1446150760,
          "currency": "eur",
          "default_source": "card_171N4dFsBqZq4amVxRsmPYf9",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user@mailinator.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_171N4dFsBqZq4amVxRsmPYf9",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7Fsqvt8W3Ixtbz",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2016,
                "fingerprint": "e3sVIRmaBvs743cW",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7Fsqvt8W3Ixtbz/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7FsqzwiXLXySR7",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1448829160,
                "current_period_start": 1446150760,
                "customer": "cus_7Fsqvt8W3Ixtbz",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "standard",
                  "object": "plan",
                  "amount": 999,
                  "created": 1446146447,
                  "currency": "eur",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Standard",
                  "statement_descriptor": "myflix standard",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1446150760,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7Fsqvt8W3Ixtbz/subscriptions"
          }
        }
  recorded_at: Thu, 29 Oct 2015 20:32:41 GMT
recorded_with: VCR 2.9.3
