---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_16ztBxFsBqZq4amVvFua5kpR&amount=999&description=Myflix+charge+for+user%40mailinator.com&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_GL2nS6KhsUkCBoHmnWD8y1MT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16ztByFsBqZq4amVwROikX7Y",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_16ztBzFsBqZq4amVn3MMNdvD",
          "captured": true,
          "created": 1445797566,
          "currency": "usd",
          "customer": null,
          "description": "Myflix charge for user@mailinator.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_16ztByFsBqZq4amVwROikX7Y/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_16ztBxFsBqZq4amVORoUaKHw",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2016,
            "fingerprint": "e3sVIRmaBvs743cW",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Sun, 25 Oct 2015 18:26:07 GMT
recorded_with: VCR 2.9.3
