---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_16ztDCFsBqZq4amVoOn2cWen&amount=999&description=Myflix+charge+for+user%40mailinator.com&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_GL2nS6KhsUkCBoHmnWD8y1MT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16ztDDFsBqZq4amVzNq4Brkn"
          }
        }
  recorded_at: Sun, 25 Oct 2015 18:27:24 GMT
recorded_with: VCR 2.9.3
