---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_GL2nS6KhsUkCBoHmnWD8y1MT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16z9h6FsBqZq4amVk8PAOOQk",
          "object": "token",
          "card": {
            "id": "card_16z9h6FsBqZq4amV4y7gy7XS",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "jdieuhm9k1eZfi67",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "62.178.102.244",
          "created": 1445622672,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 23 Oct 2015 17:51:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: card=tok_16z9h6FsBqZq4amVk8PAOOQk&amount=999&description=Myflix+sign+up+charge&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_GL2nS6KhsUkCBoHmnWD8y1MT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16z9h7FsBqZq4amVib06qz2O"
          }
        }
  recorded_at: Fri, 23 Oct 2015 17:51:13 GMT
recorded_with: VCR 2.9.3
