<!DOCTYPE html>
<html>
    <body>
        <header>
          Dear <%= @user.full_name %>,
        </header>
        <section>
          unfortunately, the subscription payment for your myflix account failed. From now on your account is locked.
        </section>
        <footer>
          Your myflix team.
        </footer>
    </body>
</html>