<!DOCTYPE html>
<html>
    <body>
        <header>
          Dear <%= @user.full_name %>,
        </header>
        <section>
          in order to reset your password, click this <%= link_to 'link', @link %>.
          You will be redirected to the reset password form.
        </section>
        <footer>
          Your myflix team.
        </footer>
    </body>
</html>