<!DOCTYPE html>
<html>
    <body>
        <header>
          Dear <%=@user.full_name%>,
        </header>
        <section>
          you are registered now!
        </section>
        <footer>
          Your myflix team.
        </footer>
    </body>
</html>