---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_GL2nS6KhsUkCBoHmnWD8y1MT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_171N4BFsBqZq4amVTbWWHxn9",
          "object": "token",
          "card": {
            "id": "card_171N4BFsBqZq4amVCmJ3ABPY",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "e3sVIRmaBvs743cW",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "62.178.102.244",
          "created": 1446150731,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 29 Oct 2015 20:32:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=standard&source=tok_171N4BFsBqZq4amVTbWWHxn9&email=mittie.littel%40hermann.name
    headers:
      Authorization:
      - Bearer sk_test_GL2nS6KhsUkCBoHmnWD8y1MT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7FspZtQHVW3uwv",
          "object": "customer",
          "account_balance": 0,
          "created": 1446150732,
          "currency": "eur",
          "default_source": "card_171N4BFsBqZq4amVCmJ3ABPY",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "mittie.littel@hermann.name",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_171N4BFsBqZq4amVCmJ3ABPY",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7FspZtQHVW3uwv",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2016,
                "fingerprint": "e3sVIRmaBvs743cW",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7FspZtQHVW3uwv/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7FspNyLdlJQBMF",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1448829132,
                "current_period_start": 1446150732,
                "customer": "cus_7FspZtQHVW3uwv",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "standard",
                  "object": "plan",
                  "amount": 999,
                  "created": 1446146447,
                  "currency": "eur",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Standard",
                  "statement_descriptor": "myflix standard",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1446150732,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7FspZtQHVW3uwv/subscriptions"
          }
        }
  recorded_at: Thu, 29 Oct 2015 20:32:13 GMT
recorded_with: VCR 2.9.3
